#quiz-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 80%;
    background-color: #845d19;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px #00000090;
    transition: opacity 0.5s ease;
}

#question-container {
    position: relative;
    padding: 20px;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: #ffffff;
}

#question {
    background-color: #00000088;
    padding: 30px;
    border-radius: 1vw;
}

.answers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.answer {
    background-color: #633600;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.answer:hover {
    background-color: #dd9b00;
    color: black;
}

.result-container {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 20px #00000090;
}

.result-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.result-title {
    font-size: 24px;
    margin-top: 20px;
}

.result-content {
    font-size: 18px;
    margin-top: 10px;
}

@media (min-width: 720px) {
    .answers-container {
        grid-template-columns: repeat(4, 1fr);
    }
}
