<section class="main-wrapper">
  <header>
    <div class="container">
      <div class="website-name">
        <div class="logo">
          <img src="./../assets/bread(1).png" alt="Logo">
        </div>
        <p>ekromka.pl</p>
      </div>
      <nav>
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        <a routerLink="/quiz" routerLinkActive="active" ariaCurrentWhenActive="page">Quiz</a>
        <a routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">Zamów</a>
      </nav>
    </div>
  </header>
  <section class="main-content">
    <router-outlet></router-outlet>
  </section>
  <footer>
    &copy; Michał Sołtys 2024
  </footer>
</section>