<div class="scrollbar">
    <div class="content">
        <div class="container">

            <!-- v4 slider -->
            <div id="wrapper-slideshow">
                <div id="sliderv2">
                    <div class="slide"><img id="slide-1" 
                            src="https://images.unsplash.com/photo-1635341814289-55cf1490024c"
                            alt="Nasze produkty wyrabiane są tradycyjnymi metodami."></div>
                    <div class="slide"><img id="slide-2" 
                            src="https://images.unsplash.com/photo-1549931319-a545dcf3bc73"
                            alt="Stosujemy tylko naturalne produkty"></div>
                    <div class="slide"><img id="slide-3"
                            src="https://images.unsplash.com/photo-1509440159596-0249088772ff"
                            alt="Stosujemy tylko naturalne produkty"></div>
                </div>
            </div>

            <!-- Main content -->

            <div class="grid">
                <div class="square s1">
                    <div class="overlay">
                        <div class="text">Bułki</div>
                    </div>
                </div>
                <div class="square s2">
                    <div class="overlay">
                        <div class="text">Chleb</div>
                    </div>
                </div>
                <div class="square s3">
                    <div class="overlay">
                        <div class="text">Rogaliki</div>
                    </div>
                </div>
                <div class="square s4">
                    <div class="overlay">
                        <div class="text">Drożdżówki</div>
                    </div>
                </div>
                <div class="square s5">
                    <div class="overlay">
                        <div class="text">Ciasta</div>
                    </div>
                </div>
                <div class="square s6">
                    <div class="overlay">
                        <div class="text">Pączki</div>
                    </div>
                </div>
            </div>
        </div>

    </div>